@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;800&display=swap');
header {
  height: 10vh;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  margin: 0;
}
.fleche{
  max-height: 2em;
  max-width: 50px;
  display: block;
  margin: 0 auto;
  animation: fleche 2s linear forwards;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  opacity: 0;
  padding-bottom: 1.5em;

}

@keyframes fleche {

  0% {
    transform: scale(0.5);

    opacity: 0;
  }

  80% {
  transform: scale(1);
    opacity: 1;
  }
}
#nav2 {
  margin: auto 0;
  border: solid 0.5px black;
  margin-top: 35em;
  color: black;
  background-color: white;
  opacity: 1;
}
#nav2:hover {
  border: solid 0.5px blue;
  color: blue;
}

#nav2 a {
  margin: 0 20px;
  text-decoration: none;
color:black;
}
#nav2 a:hover {
  display: inline-block;
  margin: 0 20px;
  text-decoration: none;
color:blue;
}

footer {
  padding-inline-start: 60px;
}

h2 {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  padding-left: 4em;
  padding-right: 4em;
  text-decoration: none;

}
}

#nav {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  text-align: center;
}

#nav li {
  display: inline;
  list-style: none;
}

#nav a {
  display: inline-block;
  margin: 0 20px;
  text-decoration: none;

  color: black;
}

h1 {
  color: black;
  font-size: 0.8em;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

img {
  width: 15px;

}

img.phone {
  width: 17px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

svg {
min-height: 60em;
min-width: 60em;
padding-top: 5em;
}

path {
  fill: transparent;
  animation: fyll 13s linear forwards;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  stroke-width: 0.5;
  stroke-linejoin: round;
  stroke: black;
  transform-origin: center;
}
@keyframes fyll {

  0% {

    fill: transparent;
  }

  5%{
    fill:black;
  }

  75% {

    fill: black;
  }
  100%{
    fill:black    ;
  }
}
body {

  background-color: white;
  margin: 0;

}


.diditstudio {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 13s linear forwards;
  animation-iteration-count: infinite;
  fill:none;
}

@keyframes dash {
  35% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 2000;
  }
  75% {
    stroke-dashoffset: 2000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
