@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;800&display=swap');
header {
  height: 10vh;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  margin: 0;
}
a,h5{
  color: black;
}
.centrer{
  margin: 0 auto;
  display: block;
text-align: center;
}

#nav2 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 4em;
  padding-right: 4em;
border: solid 0.5px black;
  color: black;

}

#nav2:hover {

border: solid 0.5px blue;
  color: blue;

}


footer {
  padding-inline-start: 60px;
}

h2 {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;

  text-decoration: none;

}


li {
  display: inline;
  list-style: none;
}

li, a {
  display: inline-block;
  margin: 0 20px;
  text-decoration: none;
  color: black;
}
li, a:hover {
  display: inline-block;
  margin: 0 20px;
  text-decoration: none;
  color: blue;
}

h1 {
  color: black;
  font-size: 0.8em;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

img {
  width: 15px;
}

img.phone {
  width: 17px;
}

main {
  height: 90vh;
}

svg {
  display: block;
  margin: 0 auto ;
  padding-top: 20vh;
  padding-bottom: 5vh;
max-width: 60%;

}

path {
  fill: transparent;
  animation: fyll 13s linear forwards;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  stroke-width: 0.7;
  stroke: black
}
@keyframes fyll {

  0% {

    fill: transparent;
  }

  5%{
    fill:black;
  }

  75% {
    fill: black;
  }
  100%{
    fill:black    ;
  }
}

body {
  background-color: white;
}

.point {
  animation: opa 2s linear forwards;
  animation-delay: 2s;
  opacity: 0;
  fill:transparent;
  animation-iteration-count: infinite;
  fill:none;
}
@keyframes opa {
  25% {
    opacity: 0;
    fill:transparent;
  }

  75% {
    opacity: 1;
    fill:black;
  }
  100% {
    opacity: 0;
    fill:transparent;
  }
}

.diditstudio {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 13s linear forwards;
  animation-iteration-count: infinite;
  fill:none;
}

@keyframes dash {
  35% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 2000;
  }
  75% {
    stroke-dashoffset: 2000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
